*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --bgcolor-footer:#0891B2;
    --font-color-footer:#FFFFFF;
}
.wrapper_bottom{
    min-width: 100%;
    min-height: 500rem;
    position: absolute;
    top: -475rem;
    background-color: #0891B2;
    z-index: -1;
    transform: skewY(-13deg);
}
.wrapper{
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}

.portrait{
    background-image: url(images/Jesse_in_Car.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: 45%;
    padding-top: 20rem;
    font-size: 4rem;
    text-align: center;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about{
    display: flex;
    flex-direction: row;    
    margin-block: 2rem;
}
.about_details{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    margin-block:3rem ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about h2{
    padding:2rem 2rem;
}
.about p{
    padding: 0 2rem;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-block: 10px;
    justify-content: end;
    padding: 1rem 2rem;
}
.links>*{
    flex-basis: auto;
    max-width: 6%;
}



