*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}
.portrait{
    background-image: url(Jesse_in_Car.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    min-height: 300px;
    flex-basis: 40%;
    display: flex;
    align-items: last baseline;
    padding: 10px;
    justify-content: center;
}
.about{
    display: flex;
    flex: 1;
    flex-basis: 60%;
    padding: 30px;
    flex-direction: column;
    justify-content: start;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    padding-right: 20px;
    padding-top: 10px;
}
.about h2 {
    padding:20px;
}
.about p {
    padding: 0px 20px;
}
.links img{
    max-width: 25px;
    height: auto;
    
}
footer{
    flex: 1;
}
main{
    flex: 1;
    min-height: 500px;
}
.project{
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    padding: 10px;
    align-items: center;
}
.projects_wrap{
    display:grid;
    grid-template-columns: repeat(3,clamp(100px,30%,500px));
    grid-template-rows: repeat(2,clamp(150px,40%,500px));
    gap: 10px;
    padding: 10px;
}
.title_and_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width:1200px) {
    
}
@media (max-width:600px){

}
