*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --bgcolor-footer:#0891B2;
    --font-color-footer:#FFFFFF;
}
img{
    max-width: 50px;
}

footer{
    color: var(--font-color-footer);
    background-color:var(--bgcolor-footer) ;
}
footer >.wrapper{
    display: flex;
    flex-direction: row;
}
footer >.wrapper>*{
    flex: 1;
}
.footer_portrait>img{
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact>h2{
    padding-block: 10px;
}
.contact p{
    padding-block: 10px;
}
.wrapper{
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
}
.contact_links{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.contact_links>img{
    flex-basis:auto;
    max-width: 7%;
}
.links_footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-block: 10px;
}
.links_footer>*{
    flex-basis: auto;
    max-width: 8%;
}
.portrait{
    background-image: url(images/Jesse_in_Car.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: 45%;
    padding-top: 20rem;
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-block: 2rem;
    background-color: #FFFFFF;
}
.about>h2{
    padding: 1rem;
}
.about>p{
    padding: 1rem;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-block: 10px;
    justify-content: end;
}
.links>*{
    flex-basis: auto;
    max-width: 6%;
}
header>.wrapper{
    display: flex;
    flex-direction: row;
}
header{
    background-color: #0891B2;
}
main>.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects_wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}
.project{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}
.project_image{
    font-size: 2rem;
    padding: 6rem 1rem;
    text-align: center;
    color: white;
}
.project_desc{
    padding: 1rem 1rem;
}
.title_and_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.title_and_links>*{
    flex: 1;
}
.project_links{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}
.project_links>img{
    flex-basis: auto;
    max-width: 20%;
}
#project1{
    background-color: #9E1C1C;
}
#project2{
    background-color: #7C75CA;
}
#project3{
    background-color: #5E8F4D;
}
#project4{
    background-color: #C363B4;
}
#project5{
    background-color: #D88F39;
}
#project6{
    background-color: #4BA2D2;
}

